<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- 2019.11.26 JQuery must be first script loaded -->
		<script src="/assets/jquery/jquery.min.js"></script>
		
		<!-- Global site tag (gtag.js) - Google Analytics GA4 for 914.io -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-8943191-25"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			
			gtag('config', 'UA-8943191-25');
		</script>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<title>914.io&nbsp;&bull;&nbsp;Services</title>
		<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico" />
		
		<link rel="stylesheet" href="/assets/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">
		
		<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/main.css">
		
		<style>
			.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
			}
			
			@media (min-width: 768px) {
			.bd-placeholder-img-lg {
			font-size: 3.5rem;
			}
			}
		</style>
		
		
		<script src="/assets/js/navbar.js"></script>
		<div id="includedNavbar"></div> 
	</head>
	
	<body>
		<div class="container">
			<div class="row" data-masonry='{"percentPosition": true }'>
				<div class="col-sm-6 col-lg-4 mb-4">
					<div class="card">
						<svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
						
						<div class="card-body">
							<h5 class="card-title">Card title that wraps to a new line</h5>
							<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4 mb-4">
					<div class="card p-3">
						<figure class="p-3 mb-0">
							<blockquote class="blockquote">
								<p>A well-known quote, contained in a blockquote element.</p>
							</blockquote>
							<figcaption class="blockquote-footer mb-0 text-muted">
								Someone famous in <cite title="Source Title">Source Title</cite>
							</figcaption>
						</figure>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4 mb-4">
					<div class="card">
						<svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
						
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
							<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4 mb-4">
					<div class="card bg-primary text-white text-center p-3">
						<figure class="mb-0">
							<blockquote class="blockquote">
								<p>A well-known quote, contained in a blockquote element.</p>
							</blockquote>
							<figcaption class="blockquote-footer mb-0 text-white">
								Someone famous in <cite title="Source Title">Source Title</cite>
							</figcaption>
						</figure>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4 mb-4">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This card has a regular title and short paragraph of text below it.</p>
							<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4 mb-4">
					<div class="card">
						<svg class="bd-placeholder-img card-img" width="100%" height="260" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Card image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Card image</text></svg>
						
					</div>
				</div>
				<div class="col-sm-6 col-lg-4 mb-4">
					<div class="card p-3 text-end">
						<figure class="mb-0">
							<blockquote class="blockquote">
								<p>A well-known quote, contained in a blockquote element.</p>
							</blockquote>
							<figcaption class="blockquote-footer mb-0 text-muted">
								Someone famous in <cite title="Source Title">Source Title</cite>
							</figcaption>
						</figure>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4 mb-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
							<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<a id="back-to-top" href="#" class="btn btn-light btn-sm back-to-top" role="button"><i class="fas fa-chevron-up"></i>
		</a>	
		
		<script src="/assets/masonary/masonry.pkgd.js"></script>
		
		
		<script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="/assets/js/scrolltotop.js"></script>
		
		<script>
			/* needed for any/all tooltips on page to appear */
			var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
			var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
				return new bootstrap.Tooltip(tooltipTriggerEl)
			})
			</script>	
			
		</body>
	</html>																																		