{% if page.layout contains 'tagpage' or page.layout == 'default' %}
{% assign kind = post %}
{% else %}
{% assign kind = page %}
{% endif %}

<!--<i class="fa-regular fa-calendar-days"></i>--> {{ kind.date | date: "%Y-%m-%d" }}<i class="fa-regular fa-circle"></i>

{%- assign taglinks = kind.tags -%}
 

{% for taglinks in kind.tags %}
		
{% unless forloop.last %}
<a class="as-menu-link" href="/{{ kind.category | slugify }}/tags/{{ taglinks | replace: " ","-" | downcase }}#{{ taglinks | replace: " ","-" | downcase }}">{{ taglinks }}</a>,

{% else %}
		
<a class="as-menu-link" href="/{{ kind.category | slugify }}/tags/{{ taglinks | replace: " ","-" | downcase }}#{{ taglinks | replace: " ","-" | downcase }}">{{ taglinks }}</a>
		
{% endunless %}
{% endfor %}
