
<div style="margin-bottom: 20px; margin-right: 12px;">
	<div class="d-flex flex-row-reverse">
		<div style="font-family: andresanzmedium; font-size: 48px; color: slategrey;">...Andre</div>
	</div>
	
	<div class="d-flex flex-row-reverse" style="margin-top: -30px;">
		<div style="margin-left: 12px; font-size: 24px; color: slategrey;"><a href="https://github.com/andresanz" style="color: slategrey;"><i class="fa-brands fa-github"></i></a>
		</div>
		<div style="margin-left: 12px; font-size: 24px; color: slategrey;"><a href="https://twitter.com/@nine14dotio" style="color: slategrey;"><i class="fa-brands fa-twitter"></i></a>
		</div>
		<div style="margin-left: 12px; font-size: 24px; color: slategrey;"><a href="https://www.facebook.com/sanz.andre" style="color: slategrey;"><i class="fa-brands fa-facebook"></i></a>
		</div>
		<div style="margin-left: 12px; font-size: 24px; color: slategrey;"><a href="/contact"><i class="fa-regular fa-envelope" style="color: slategrey;"></i></a>
		</div>
		<div style="margin-left: 12px; font-size: 24px; color: slategrey;"><a href="https://www.linkedin.com/in/andresanz/"><i class="fa-brands fa-linkedin" style="color: slategrey;"></i></a>
		</div>
		
		
		<div style="margin-left: 12px; font-size: 24px; color: slategrey;"><a href="https://stackoverflow.com/users/4408911/andre"><i class="fa-brands fa-stack-overflow" style="color: slategrey;"></i></a>
		</div>
		
	</div>
</div>