<i class="as-menu-link fa-solid fa-inline fa-pen-to-square"></i>&nbsp;{{ post.date | date: "%Y-%m-%d" }}&nbsp;/&nbsp;
		
<i class="as-menu-link fa-solid fa-inline fa-list-ul"></i>&nbsp;<a class="as-menu-link" href="/blog/categories/#{{ post.category | slugify }}" title="{{ post.category }} Category">{{ post.category }}</a>&nbsp;/&nbsp;
		
{%- assign taglinks = post.tags -%}
		
<i class="as-menu-link fa-solid fa-inline fa-tags"></i>{% for taglinks in post.tags %}
		
{% unless forloop.last %}
<a class="as-menu-link" href="/blog/tags/{{ taglinks | replace: " ","-" | downcase }}#{{ taglinks | replace: " ","-" | downcase }}" title="{{ taglinks }} Tag">{{ taglinks }}</a>,

{% else %}
		
<a class="as-menu-link" href="/blog/tags/{{ taglinks | replace: " ","-" | downcase }}#{{ taglinks | replace: " ","-" | downcase }}" title="{{ taglinks }} Tag">{{ taglinks }}</a>
		
{% endunless %}
		
{% endfor %}