/*
	
	@font-face {
	font-family: KrubRegular;
	src: url(/assets/fonts/krub/Krub-Regular.WOFF) format('woff');
	}
	
	body {
	}
	
	h1, span.description {
	font-family: krubregular !important;
	}
	
	h1 a:hover, h1 a:active {
	text-decoration: none;
	}
	
	a:link {
	text-decoration: none;
	color: #555;
	}
	a:visited {
	text-decoration: none;
	color: #777;
	}
	a:hover, a:active {
	text-decoration: underline;
	color: maroon;
	}
	pre {
	font-family: krubregular !important;
	font-size: 16px !important;
	margin: 3px 0;
	color: #777;
	}
	pre img {
	display: inline;
	}
	img {
	margin: 3px 12px 3px 12px;
	}
*/