---
layout: default 
---

<div class="container">
	<div class="row">
	
		<div class="p-3 border rounded-1 bg-as">
			<h1 class="lh-1">Tag: {{ page.title }}</h1>
			
			<p class="mb-0 text-muted">
				<a href="/" class="as-menu-link">{{ site.shortname }}</a> / <a href="/photos/tags/{{ page.tag | downcase | slugify }}" class="as-menu-link">{{ page.tag | downcase }}</a> (<a href="/photos" class="as-menu-link">photos</a> / <a href="/photos/tags" class="as-menu-link"><strong>tags</strong></a>)
			</p>
			
		</div>
		
		<div class="p-3 border rounded-1 bg-light mt-2">
			
			<ul class="taglist">
				{% for post in site.tags[page.tag] %}
				<li class="taglist mb-4">
				<!--<span class="material-icons-outlined md-dark">signpost</span>--><i class="fa-solid fa-signs-post"></i> <a class="as-menu-link noline" href="{{ post.url }}">{{ post.title }}</a><div>{% include meta.html %}</div>
				</li>
				{% endfor %}
			</ul>
			
		</div>
	</div>
</div>
